<ng-container *ngFor="let organizationBannerState of organizationBannerStates">
  <bit-banner
    *ngIf="organizationBannerState.showBanner"
    bannerType="warning"
    (onClose)="closeBanner(organizationBannerState.organizationId)"
  >
    {{ "maintainYourSubscription" | i18n: organizationBannerState.organizationName }}
    <a
      class="text-white font-weight-semibold"
      [routerLink]="[
        '/organizations',
        organizationBannerState.organizationId,
        'billing',
        'payment-method'
      ]"
      >{{ "addAPaymentMethod" | i18n }}</a
    >.
  </bit-banner>
</ng-container>
