<div class="tw-mt-14 tw-flex tw-flex-col tw-gap-14">
  <div class="tw-text-center">
    <div class="tw-text-3xl tw-font-bold tw-text-primary-500">BITWARDEN LOGO</div>
    <h1 class="tw-mt-4 tw-text-2xl tw-font-semibold">{{ title }}</h1>
  </div>
  <div class="tw-mx-auto tw-max-w-md tw-rounded-xl tw-bg-background tw-p-8 tw-shadow">
    <router-outlet></router-outlet>
  </div>
  <footer class="tw-text-center">
    <div>&copy; {{ year }} Bitwarden Inc.</div>
    <div>{{ version }}</div>
  </footer>
</div>
