<form [formGroup]="confirmForm" [bitSubmit]="submit" [appApiAction]="formPromise">
  <bit-dialog dialogSize="large" class="tw-m-auto" [loading]="loading">
    <h1 bitDialogTitle class="tw-text-[1.3rem]" id="confirmUserTitle">
      <span class="">
        {{ "confirmUser" | i18n }}
      </span>
      <small class="tw-text-muted">{{ name }}</small>
    </h1>
    <div bitDialogContent>
      <p>
        {{ "fingerprintEnsureIntegrityVerify" | i18n }}
        <a href="https://bitwarden.com/help/fingerprint-phrase/" target="_blank" rel="noopener">
          {{ "learnMore" | i18n }}</a
        >
      </p>
      <p>
        <code>{{ fingerprint }}</code>
      </p>

      <ng-container>
        <bit-form-control>
          <input type="checkbox" bitCheckbox formControlName="dontAskAgain" />
          <bit-label> {{ "dontAskFingerprintAgain" | i18n }}</bit-label>
        </bit-form-control>
      </ng-container>
    </div>
    <div bitDialogFooter>
      <button type="submit" buttonType="primary" bitButton [disabled]="loading" [loading]="loading">
        <span>{{ "confirm" | i18n }}</span>
      </button>
      <button bitButton buttonType="secondary" type="button" [bitDialogClose]>
        {{ "cancel" | i18n }}
      </button>
    </div>
  </bit-dialog>
</form>
