<div *ngIf="isNewAccount && showOnboarding && showOnboardingAccess" class="tw-mb-6">
  <app-onboarding
    *ngIf="onboardingTasks$ | async"
    [title]="'getStarted' | i18n"
    (dismiss)="hideOnboarding()"
  >
    <app-onboarding-task
      [title]="'createAnAccount' | i18n"
      [completed]="(onboardingTasks$ | async).createAccount"
    ></app-onboarding-task>

    <app-onboarding-task
      [title]="'importData' | i18n"
      icon="bwi-save"
      (click)="navigateToImport()"
      [completed]="(onboardingTasks$ | async).importData"
    >
      <p class="tw-pl-1">
        {{ "onboardingImportDataDetails" | i18n }}
      </p>
    </app-onboarding-task>

    <app-onboarding-task
      [title]="'installBrowserExtension' | i18n"
      icon="bwi-cli"
      (click)="navigateToExtension()"
    >
      <span class="tw-pl-1">
        {{ "installBrowserExtensionDetails" | i18n }}
      </span>
    </app-onboarding-task>
  </app-onboarding>
</div>
