<form [formGroup]="takeoverForm" [bitSubmit]="submit">
  <bit-dialog dialogSize="large">
    <h1 bitDialogTitle bitTypography="h1">
      {{ "takeover" | i18n }}
      <small class="tw-text-muted" *ngIf="params.name">{{ params.name }}</small>
    </h1>
    <div bitDialogContent>
      <app-callout type="warning">{{ "loggedOutWarning" | i18n }}</app-callout>
      <auth-password-callout [policy]="enforcedPolicyOptions" *ngIf="enforcedPolicyOptions">
      </auth-password-callout>
      <div class="tw-w-full tw-flex tw-gap-4">
        <div class="tw-relative tw-flex-1">
          <bit-form-field>
            <bit-label>{{ "newMasterPass" | i18n }}</bit-label>
            <input
              bitInput
              type="password"
              autocomplete="new-password"
              formControlName="masterPassword"
            />
          </bit-form-field>
          <app-password-strength
            [password]="takeoverForm.value.masterPassword"
            [email]="email"
            [showText]="true"
            (passwordStrengthResult)="getStrengthResult($event)"
          >
          </app-password-strength>
        </div>
        <div class="tw-relative tw-flex-1">
          <bit-form-field>
            <bit-label>{{ "confirmNewMasterPass" | i18n }}</bit-label>
            <input
              bitInput
              type="password"
              autocomplete="new-password"
              formControlName="masterPasswordRetype"
            />
          </bit-form-field>
        </div>
      </div>
    </div>
    <div bitDialogFooter>
      <button type="submit" bitButton bitFormButton buttonType="primary">
        {{ "save" | i18n }}
      </button>
      <button bitButton bitFormButton type="button" buttonType="secondary" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </div>
  </bit-dialog>
</form>
